* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App{
  display:flex;
  flex-direction: column;
  min-height:100vh;
}
main{
  flex-grow: 1;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #544837;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  width: 100%;
  max-width: 1124px;
  margin: 0 auto;
  padding:0 15px;
}
.flex {
  display: flex;
}

h1{
  font-size: 44px;
  line-height: 54px;
  font-weight: 700;
  color:  #2F281E;

}